<nav class="navbar navbar-light navbar-expand-sm bg-white">
  <a class="navbar-brand" href="#">
    Project Manager
  </a>

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user" routerLinkActive="active">Add User</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/task" routerLinkActive="active">Add Task</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/viewtask" routerLinkActive="active">View Task</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/project" routerLinkActive="active">Add Project</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <br />
<br />
<router-outlet></router-outlet>
</div>
