<nav class="navbar navbar-light navbar-expand-sm bg-primary p-3 mb-2">
  <a class="navbar-brand" href="#">
    <h3>Project Manager</h3>
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user" routerLinkActive="active">Add User</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/task" routerLinkActive="active">Add Task</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/viewtask" routerLinkActive="active">View Task</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/project" routerLinkActive="active">Add Project</a>
      </li>
    </ul>
  </div>
</nav>
  <br />
  <br />
<div class="container">

<router-outlet></router-outlet>
</div>
