table {
    width: 100%;
}

.mat-column-right
 {
   text-align: center;
 }

 #filtersubmit {
   position: relative;
   z-index: 1;
   left: -25px;
   top: 1px;
   color: #7B7B7B;
   cursor: pointer;
   width: 0;
 }

 table th:hover {
   cursor: pointer;
 }
